@using GDB.EmailSending.Templates;
@model ResetPasswordData
@{
    Layout = "Templates._Layout.cshtml";
}
@section Title { Your Password Reset Request }
@section PreHeader { Your requested LauncHReady Password Reset }

@Raw(Containers.Start())

@Raw(Containers.StartParagraph())
<div style="text-align: left; color: @Colors.TextColor">
    <p>Hi @Model.Name,</p>
    <p>
        A password reset request was received for your account (username: @Model.Username).
    </p>
    <p>
        To reset your password, please click the button below.
    </p>
    <p style="text-align: center"> 
        <a href="@Model.PasswordResetLink" title="Reset your password" style="@Raw(Containers.ButtonStyle())">Reset your password</a>
    </p>
    <p style="color: @Colors.TextColorLight; font-size: 90%">or copy/paste this link: <br /> @Model.PasswordResetLink</p>
    <p>
        The link is good for @Model.LinkHours hours. If you have any questions, please reach out to me at eli@launchready.co.
    </p>
</div>
@Raw(Containers.EndParagraph())

@Raw(Containers.End())

