@model GDB.App.Controllers.General.Models.ResetPasswordModel
@{
    Layout = "../_Layout.cshtml";
    TempData["title"] = "Login";
}
<div class="gdb-floating-box">
    <h1>Enter a New Password</h1>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="gdb-err-message">@ViewData["ErrorMessage"]</div>
    }
    @Html.ValidationSummary("", new {  @class= "gdb-err-message" })
<form method="post" action="/account/resetPassword">
    @Html.AntiForgeryToken()
    @Html.Hidden("UserId", Model.UserId)
    @Html.Hidden("ResetToken", Model.ResetToken)
    <label>
        <span class="gdb-label-text">Password</span>
        <input type="password" name="password" class="gdb-pronounced" />
    </label>
    <input type="submit" value="Submit Password" class="gdb-button gdb-bs-primary" />
</form>
</div>
